# for django rest framework
djangorestframework
django
requests
django-cors-headers
python-decouple
# for stock data 
yfinance
# for stock evaluation packages
stock-indicators
numpy
pandas
mplfinance
# for scraping
snscrape
# for mongodb
pymongo


